@model ASP.Models.Home.Product

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="/img/product1.png" alt="Set of sweets">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">Winter set of for only @Model.Price $</p>
        <a href="#" class="btn btn-primary">Buy now</a>
    </div>
</div>