@{
    ViewData["Title"] = "ASP Basics";
}

<div class="text-center">
    <h1 class="display-4">ASP Basics</h1>
</div>
<h3><a href="/Home/Intro">Intro</a>.</h3>
<h3><a href="/Home/Scheme">Interaction scheme</a>.</h3>
<h3><a href="/Home/Url">Information about URL</a>.</h3>
<h3><a href="/Home/Razor">Razor</a>.</h3>
<h3><a href="/Home/Model">Model</a>.</h3>
<h3><a href="/User">Страница пользователя</a>.</h3>
<h3><a asp-action="Services">Services - службы</a>.</h3>
<h3><a asp-action="Context">Контекст баз данных</a>.</h3>
<h3><a asp-action="Sessions">HTTP - Сессии</a>.</h3>
<h3><a asp-action="Middleware">Middleware</a>.</h3>
<h3><a asp-action="EmailConfirmation">Подтверждение Эл. почтой</a>.</h3>