@{
    ViewData["Title"] = "Sessions";
}

<div class="text-center">
    <h1 class="display-4">HTTP-Sessions</h1>
</div>
<p>
    НТТР-сессии представляют собой механизм хранения данных со стороны сервера и
    привязки их к клиенту. В общем слово "сессия" многозначно, как правило.
    означает определенный временной промежуток, "сеанс". Для обособления этого термина
    используется "НТТР-сессии".
</p>
<p>
    Со стороны клиента (в браузере) данные между обновлением страницы хранятся в средствах
    localStorage и sessionStorage. Серверные НТТР-сессии работают следующим
    образом:
</p>
<ul>
    <li>
        Сервер стартует (или отлаживает) сессию, это устанавливает Cookie (параметр,
        который браузер запоминает и автоматически пересылает с каждым запросом
        к этому сайту). В Cookie устанавливается случайное число – токен сессии.
    </li>
    <li>
        Со стороны сервера образуются средства хранения данных, заложенных на сессию.
        Можно представлять, что создаются файлы с именами = токенами сессий.
        При поступлении запроса из Cookie открывается соответствующий файл и
        восстанавливаются сохраненные данные.
    </li>
    <li>
        При коммуникации в сессию (в файл) сохраняются данные и, при необходимости,
        восстанавливаются и анализируются. Поскольку речь идет о записи в файл,
        к сохранению допускаются только данные, которые могут сериализироваться.
        Возможны дополнительные ограничения в разных языках/фреймворках.
    </li>
</ul>
<p>
    О конфигурации сессий на ASP см.
    <a href="https://learn.microsoft.com/en-us/aspnet/core/fundamentals/app-state?view=aspnetcore-7.0">документацию</a>
</p>
<form>
    Сохранить в сессии данные: <input type="number" name="number" />
    <button type="submit">Запомнить</button>
</form>
<p>
    Ранее сохраненные данные: @ViewData["number"]
</p>